*{
    margin: 0;
    padding: 0;
    font-family: 'Proxima Nova Extra Condensed', sans-serif;
}


/* navbar */

header{
    padding: 60px;
    margin: 0px;
    padding: 0px;
    text-align: center;
}

.logo{
    width: 200px;
}

.container{
    display: flex;
    justify-content: space-evenly;

}
.container ul{
    display: flex;
}

.container ul li{
    list-style: none;
    padding: 20px;
    padding-bottom: 0px;
    font: bold;
    font-family: 'Proxima Nova Extra Condensed', sans-serif;
    font-weight: 700;
    box-sizing: border-box;
    border-bottom: ridge 2px black;
}
.container ul li a{
    text-decoration: none;
    color: black;
}


.search_button{
    width: 17px;
}
.container a{
    text-align: center;
    display: flex;
    padding: 0px;
}

.control_buttons{
    align-items: center;
    display: flex;
}

.control_buttons img{
    margin: 10px;
}

.control_buttons a :hover{
border: transparent;
border-radius: 100%;
background-color: #66971b;
transition: 0.4s;
}


.container ul li :hover{
    color: #66971b;
    border: transparent;
    border-radius: 8px;
    position:relative;
    transition: 0.4s ease;
}


/* first part */

.first_part{
    padding-top: 30px;
    position: relative;
    align-items: center;
    overflow: hidden;
}
.first_part img{
    width: 100%;
    display:block;
}
.photo_text{
    position: absolute;
    font-family: 'Proxima Nova Extra Condensed', sans-serif;
    top: 16%;
    right: 10%;
    display: block;
    width: 500px;
    padding: 40px;
    background-color: rgba(241, 241, 241, 0.26);
}
.learn_more{
    height: 40px;
    width: 140px;
    background-color: white;
    border: transparent;
    font-size:medium;
    font: bold;
    font-family: 'Proxima Nova Extra Condensed', sans-serif;
}
.learn_more a{
    text-decoration: none;
    color: black;
}

.learn_more:hover{
    background-color: #66971b;
    transition: 0.4s ease;
}




/* second part */

.container_scn {
    position: relative; 
    text-align: center; 
  }
  
  .bckg_scn {
    width: 100%; 
    height: auto; 
  }
  
  .firstlayout h1 {
    position: absolute;
    top: 0; 
    left: 50%; 
    transform: translateX(-50%); 
    margin: 0;
    padding: 20px 0; 
    color: #000000; 
    font-size: 3em;
    padding-top: 80PX;
  }
  .firstlayout p {
    position: absolute;
    top: 100px; 
    left: 50%; 
    transform: translateX(-50%); 
    margin: 0;
    padding: 20px 0; 
    color: #000000; 
    font-size: 3em;
    padding-top: 80PX;
  }